
/* Rest of your global styles */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '$lib/styles/index.css';

button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: dodgerblue;
    padding-inline: 1.5rem	;
    padding-block: 0.5rem;
    border-radius: 0.5rem;
    /* border: 2px solid white; */
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.6);
    transform: scale(1);
    transform-origin: center;
    margin-inline: 1rem;
    margin-block: 0.5rem;
}
button:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
}
button:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
}
button:focus {
    outline: none;
}
